<footer>
	<table border="0" cellpadding="0" cellspacing="0">
		<tbody>
			<tr>
				<td>
				<p align="center"> Charity registration No. 1114419</p>
				<p id="footermenu">
	      	<a href="/">Home</a> |
	        <a href="/WhatWeDo/History.html"> Heshima History</a> |
	        <a href="/Newsletters/"> Newsletter</a> |
	    		<a href="/ContactUs/"> contact us</a>
				</p>
				<p id="footermenu">
					<a href="/SupportingHeshima/Application">Volunteer application form</a> |
	        <a href="/SupportingHeshima/Partnership">Partnership Project Form</a> |
					<a href="/SupportingHeshima/GiftAidDecleration"> Gift Aid Declaration</a>
				</p>
			</td>
			</tr>
			<tr>
				<td bgcolor="#4f8a10" height="13">
					<img src="/assets/skin/footer.jpg" border="0" height="24" width="800"
            alt="footer">
				</td>
			</tr>
		</tbody>
	</table>
</footer>
